<table role="presentation" cellpadding="3" cellspacing="3" align="center" style="margin:auto;width:640px;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
<tr>
    <td colspan="2" height="2" style="height: 2px; line-height: 1px">&nbsp;</td>
</tr>
<tr>
    <td align="left">Your top stories from the past 24 hours:</td>
</tr>
<tr>
    <td colspan="2" height="2" style="height: 2px; line-height: 1px">&nbsp;</td>
</tr>
</table>
 <table cellspacing="0" cellpadding="0" border="0" align="center" width="640" style="background:#cfcfcf; height:1px;">
      <tr>
           <td style="font-size:0; line-height:0;">
                &nbsp;
           </td>
      </tr>
 </table>
<table width="640px" cellspacing="3" cellpadding="3" border="0" align="center" role="presentation" style="margin:auto;width:640px;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
    <tr>
        <td colspan="10" height="15" style="height: 15px; line-height: 1px">&nbsp;</td>
    </tr>
    <tr>
        <td align="left" valign="top">
<img src="<%= profile_image(@source) %>" width="30px" height="30px" style="border-radius: 10px; margin-right: 3px;" />
<p><%= @source.profile['name'] %></p>
<p><%= @source.profile['npub'] %></p>
        </td>  
    </tr>
</table>
 <table cellspacing="0" cellpadding="0" border="0" align="center" width="640" style="background:#cfcfcf; height:1px;">
      <tr>
           <td style="font-size:0; line-height:0;">
                &nbsp;
           </td>
      </tr>
 </table>


