<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-newspaper m-auto text-primary"></i></div>
                    <h3>Daily News Digest</h3>
                    <p class="lead mb-0">Sign on with your Nostr account, and we'll start gathering your news and deliver it in a daily newsletter.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi bi-database-lock m-auto text-primary"></i></div>
                    <h3>Privacy friendly</h3>
                    <p class="lead mb-0">We don't even store your email in the DB! One your session ends, we no longer have it.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-mastodon m-auto text-primary"></i></div>
                    <h3>Instance friendly</h3>
                    <p class="lead mb-0">We don't crawl instances, but rely on authenticated user timelines to get relevant news</p>
                </div>
            </div>
        </div>
    </div>
</section>